*{
    margin: 0;
    padding: 0;

}
article{
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}
header{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(196, 162, 255);
}
h1{
    margin: 10px;
}
p{
    margin: 20px 0;
}
nav{
    transition-duration: 1.5s;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 0 10px 10px;
}
span{
    display: none;
    margin: 10px;
    border: 2px solid black;
}
span ul{
    list-style: none;
}
span li{
    width: 20px;
    height: 2px;
    margin: 4px;
    border: 2px solid black;
    background-color: black;
}

@media only screen and (max-width:700px){
    header{
        justify-content: flex-start;
    }
    h1{
        width: 80vw;
    }
    span{
        display: block;
    }
    nav{
        display: none;
        width: 100vw;
        text-align: center;
        margin: 20px 0;
    }
    nav ul li{
        display: block;
        margin: 20px 0;
    }

}